/* 
main bg color: #FBEE88
second bg color: #C8C4FA
*/

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
body {
    background-color: #FBEE88;
    text-align: center;
}

::-webkit-scrollbar {
    width: 0;
}
.wrapper-a {
    background-color: #FBEE88;
    background: url("../img/background.svg");
    background-size: cover;
    height: 100vh;
}
.scroll-down {
    position: absolute;
    width: 10vw;
    left: 45vw;
    bottom: -15px;
    font-family: futura-pt, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2em;
    color: black;
    text-decoration: none;
    animation: slideInDown 2s infinite forwards;
    animation-timing-function: cubic-bezier(0, 0, 0.42, 1.24);
}
@keyframes pulse {
    0%, 100% {
        transform: translateY(1vh);
    }
    50% {
        transform: translateY(5vh);
    }
}
@keyframes slideInDown {
    from {
      -webkit-transform: translate3d(0, -100%, 0);
      transform: translate3d(0, -100%, 0);
      visibility: visible;
      opacity: 1;
    }
  
    to {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
      opacity: 0;
    }
  }

.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: absolute;
    right: 0;
    font-family: futura-pt, sans-serif;
    font-weight: 500;
    font-style: normal;
    text-transform: uppercase;
    padding: 35px;
}
.nav li {
    display: inline;
    padding: 0 30px;
}
.nav li a {
    text-decoration: none;
    color: black;
    transition: .2s;
}
.nav li a:hover {
    opacity: .5;
}
.landing-title {
    display: inline-block;
    font-family: century-gothic, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 17vw;
    width: fit-content;
    margin-top: 10vh;
    color: black;
    /* color: white; */
	/* mix-blend-mode: difference; */
}
.landing-title .b {
    text-align: right;
}

.wrapper-b {
    background-color: #C8C4FA;
    height: 100vh;
    position: relative;

    background-image: url("../img/IMG_2276.JPG");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
/* .quoteme {
    margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
} */
/* .quoteme p {
    font-family: futura-pt, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 13vh;
    text-align: right;
    width: 100%;

    color: white;
    mix-blend-mode: difference;
} */
.wrapper-b p {
    margin: 0;
    font-family: futura-pt, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 13vh;
    text-align: right;
    color: white;
    mix-blend-mode: difference;
    padding: 20vw;
}

.wrapper-c {
    height: 100vh;
    padding: 16vw;
}
.outcome {
    display: flex;
    justify-content: center;
    background-color: #FBEE88;
}
.outcome-firstimage, .outcome-secondimage {
    background-size: cover;
    background-position: center;
    width: 40%;
    height: 75vh;
    transition: .8s;
}
#interactive-media-firstimage {
    background-image: url(../img/IMG_2045.JPG);
}
#interactive-media-secondimage {
    background-image: url(../img/IMG_2037.JPG);
}
#interactive-media-header {
    width: 20%;
    position: relative;
}
.outcome h1 {
    transform: rotate(-90deg);
    font-family: acier-bat-outline, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 6vw;
    position: absolute;
    width: 100%;
    bottom: 1vw;
    text-align: left;
    color: black;
}
.outcome:hover .outcome-firstimage {
    transform: scale(1.2) translateX(-10vh) translateY(-5vh);
}
.outcome:hover .outcome-secondimage {
    transform: scale(1.2) translateX(10vh) translateY(5vh);
}
.outcome:hover h1 {
    font-family: acier-bat-solid, sans-serif;
}


.footer {
    height: 40vh;
    width: 100vw;
    background-image: url("../img/IMG_2228.JPG");
    background-size: cover;
    background-position-x: center;
    background-position-y: bottom;
    filter: invert(100%);
}
.footer div {
    color: #FBEE88;
    mix-blend-mode: difference;
    font-family: futura-pt, sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 7vh;
    text-align: center;
    padding: 20px;
    position: absolute;
    width: 50vw;
    left: 25vw;
    bottom: 10vh;
    /* test */
    background-color: brown;
}

/* outcome pages */
.head-outcome {
    width: 100vw;
    height: 100vh;
}
.head-outcome h1 {
    color: grey;
    mix-blend-mode: difference;
    font-family: acier-bat-solid, sans-serif;
    font-weight: 400;
    font-style: normal;
    position: absolute;
    text-align: center;
    transform: rotate(-90deg);
    line-height: 1;
    /* background-color: #232323; */
}
.head-outcome#interactive-media {
    background: url(../img/interactive-media.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.head-outcome#interactive-media h1 {
    font-size: 10vh;
    right: -30vh;
    top: 50vh;
}

.info {
    width: 100vw;
    height: auto;

}